html, body {
    font-size: 18pt;
    line-height: 18pt;
    font-family: Helvectica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#connection-status { 
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #aaa;
}

#message_form, #content {
    margin: 0 auto;
    padding: 0
}

#message_form {
    padding: 10px;
}

input {
    line-height: 18pt;
    font-size: 14pt;
    height: 18pt;
    padding: 5px;
    margin: 0;
}

#message_body {
    width: 40em;
}

.message {
    padding: 10px;
    margin: 0;
}

.message:nth-child(even) {
    background: #eee;
}

.nickname:after {
    content: ": ";
}


.namelist {
    background: #35D699;
    border: 1px solid #00AC6B;
    position: fixed;
    bottom: 40px;
    right:  10px;
    font-size: 12px;
    width: 200px;
}
.namelist div {
    padding:2px 10px;
}


.action .nickname:after {
    content: " ";
}

.action {
    background: #ffe;
}

.action:nth-child(even) {
    background: #ffc;
}

time {
    color:#ccc;
    margin-right: 0.5em;
}
