html, body {
    font-size: 18pt;
    line-height: 18pt;
    font-family: Helvectica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#connection-status { 
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #aaa;
}

#message_form, #content {
    margin: 0 auto;
    padding: 0
}

#message_form {
    padding: 10px;
}

#message_body {
    line-height: 18pt;
    font-size: 14pt;
    height: 18pt;
    padding: 0;
    margin: 0;
    width: 70%;
}

.message {
    padding: 10px;
    margin: 0;
}

.message:nth-child(even) {
    background: #eee;
}

.nickname-hint {
    font-size: small;
    color:#555;
}

.nickname:after {
    content: ": ";
}

time {
    color:#ccc;
    margin-right: 0.5em;
}
