html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#connection-status { 
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #aaa;
}

#message_form, #content {
    width: 75%;
    margin: 0 auto;
}

.message {
    padding: 10px;
    margin: 0;
}

.message:nth-child(even) {
    background: #eee;
}
